<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/author-akshay.html">About Me</a>
</li>
<li class="nav-item">
<a class="nav-link btn btn-white" href="{{site.baseurl}}/projects.html">Projects</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/publications.html">Publications</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/skills.html">Skills</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/assets/documents/AKSHAY_KUMAR_RESUME_1PAGE.pdf">Resume</a>
</li>
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li> -->
