<!--  Replace menu links here -->
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">HOME</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/author-akshay.html">ABOUT ME</a>
</li>
<li class="nav-item">
<a class="nav-link btn btn-white" href="{{site.baseurl}}/projects.html">PROJECTS</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/publications.html">PUBLICATIONS</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/skills.html">SKILLS</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/assets/documents/AKSHAY_KUMAR_RESUME_1PAGE.pdf">RESUME</a>
</li>

    